body {
  background-color: LightGray;
  margin-right: auto;
  margin-left: auto;
}
div {
  border: 1px solid Chocolate;
}
.top-navigation {
  background-color: #fff;
  position: fixed;
  width:100%;
  border-bottom: 1px solid #DDD;
}
.top-navigation > .content {
  width:970px;
  height: 70px;
  margin: 0 auto;
}
.top-navigation .logo {
  margin-left: 275px;
}
.top-navigation .Links {
float: right;
}
.top-navigation .Links li {
float:left; 
display:inline;
width: 100px;
}

ul {
  margin: 0;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

