body {
  background-color: LightGray;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif; 
  font-size: 18px; 
  color: #838994; 
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width:100%;
  border-bottom: 1px solid #DDD;
  top:0;
}
.top-navigation > .content {
  width:970px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 15px;
}
.top-navigation .logo {
  padding-top: 15px;
}
.top-navigation .Links {
  float: right;
  margin-top:25px;
}
.top-navigation .Links li { 
display:inline-block;
margin-left: 25px;
}

.top-navigation .Links .active {
  color: #4c5058;
  font-weight: 500;
}
.top-navigation .Links li:hover {
  cursor: pointer;
  color: #333333;
}
.introduction {
  background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 46rem;
  overflow: auto;
}

.introduction h1{
  font-size: 3em;
}
.introduction h1,h3{
  text-align: center;
  color: white;
  position: relative;
  font-weight: 100;
}
button {
font-size: 1.4rem;
background-color: #f15a29;
border-radius: 4px;
border-style: none;
color: white;
text-shadow: none;
padding: 1rem 1.5rem;
}
