body {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif; 
  font-size: 18px; 
  color: #838994; 
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width:100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
  top:0;
}
.top-navigation > .content {
  width:970px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 15px;
}
.top-navigation .logo {
  padding-top: 15px;
}
.top-navigation .links {
  float: right;
  margin-top:25px;
}
.top-navigation .links li { 
display:inline-block;
margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}
.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}
.text-center {
  text-align: center;
}
.introduction {
  background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 46rem;
  overflow: auto;
  margin-top: 71px;
}
.introduction h1{
  font-size: 3em;
}
.introduction h1,h3{
  color: white;
  position: relative;
  font-weight: 100;
}
.buttons {
  text-align: center;
}
button {
font-size: 1.4rem;
background-color: red;
border-radius: 4px;
border-style: none;
color: white;
text-shadow: none;
padding: 1rem 1.5rem; 
}
button:hover {
  background-color: darkorange;
  cursor: pointer;
}
.info {
  text-align: center;
  margin-top: 100px;
  color: black;
  font-weight: 100;
  padding: 0 20rem;
}

.listcontainer ul{
list-style: none;
margin: 0;
padding: 0;
color: black;
display: flex;
}
.listcontainer ul li{
  display: inline-block;
  float: left;
  width: 33.3%;
  color: black;
  box-sizing: border-box;
  height: 4em;
}
.info h3{
  color: black;
  font-weight: 400;
  font-size: 1.7rem;
}
hr{margin-top: 200px;}